
.imagenCentrada{
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.imagenCentradaBig{
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.tituloCentrado {
    text-align: center;
}

.parrafoCentrado {
    text-align: center;
}

.listaCentrada {
    list-style-position: inside;
    text-align: center;
    padding-left: 0;
}
  
